.myCharacter {
	background-color: #13d619;

}

.hero-col {
	float:none;
	margin:auto;
}

.defender-col {
	float:none;
	margin:auto;
}

.enemy-col {
	float:left;
	margin:auto;
}

.enemyCharacter {
	background-color: #db1111;

}

.defenderCharacter {
	background-color: #000000;

}

body {
	 /*background-color: #cccccc;*/
	 /*background-image: url("../images/Wiki-background.jpg");*/
}

h4,h2,h1,h3 {
	color : #ffffff;
	font-weight: bold;
}

.btn {
    margin-bottom: 10px; 
}



/*
a {
transform : (remove underline)
*/

/*
button {
	display : none;
}
*/

/*
#getStarted {
	display : none;
	*/

